workflows/email_scrapper_import.json
{
  "name": "v2 Agente Email Scrapper - Conseguir Clientes - La Tribu Divisual copy",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a0c892e7-3f34-428c-afee-60df996b500c",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "schema",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "ee97ab7a-9921-4c3b-95dd-2ede83a31a25",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "google",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "6326ca6f-8dc1-4ef4-8325-31100e23f0db",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "gstatic",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "6659d028-9d54-4fac-8f53-930c3c832680",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "7edbb875-1e2b-470a-8092-8c70f344232f",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "wa.link",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "1aafcb3c-5a40-4483-9dfc-a5c944938457",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "f486bcab-39f1-4726-a0c3-2c1afd5498ec",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "wa.me",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "18bdea02-0121-4887-996a-7b4c5c5dfc45",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "new-twitter",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "twitter",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "new-linkedin",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "linkedin",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "new-youtube",
              "leftValue": "={{ $json.websiteUri }}",
              "rightValue": "youtube",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [992, 1056],
      "id": "57296c92-5a38-4fb5-b24d-5705c518799e",
      "name": "Filter"
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 1040],
      "id": "5b763f74-58af-46b8-af3d-cd27a5b0636b",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": { "amount": 0.5 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2096, 1056],
      "id": "a9bd6885-1d98-4579-a7ca-f396ef9e1882",
      "name": "Wait",
      "webhookId": "063e5eaa-aa5f-4636-912c-ce0b7378b1bb"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42862ea8-a8c9-4f54-9dbd-898e9f4fe8a9",
              "name": "maps_url",
              "value": "=https://www.google.com/maps/search/{{ encodeURIComponent($json.niche + ' ' + $json.city) }}?hl=es&gl=es&region=es",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1472, 832],
      "id": "c793b549-bebc-4be5-aff7-f5d999b1f254",
      "name": "Construir URL"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes" }]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 832],
      "id": "b4ad1c4d-7814-4ca0-821b-52bc1996bf97",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Genera UNA frase corta: \"Búscame [negocio] en [provincia española]\"\n\nNegocios: médicos, abogados, clínicas dentales, asesorías, clínicas de belleza, fisioterapeutas, masajistas, osteópatas\n\nProvincias: cualquiera de España (Madrid, Barcelona, Sevilla, Valencia, Málaga, Bilbao, Zaragoza, etc.)\n\nReglas:\n- Solo UNA frase\n- Varía negocio y provincia\n- Sin explicaciones\n\nEjemplo: \"Búscame dentistas en Málaga.\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [544, 832],
      "id": "e4c78f95-6dde-4e16-b3d8-06546ea0bedc",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kORUBkYfjkvBOnwb",
          "name": "OpenAi account Agente La Tribu"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1U6adXtgcy7pgIQAF2sMn7GFcDbxvbzFjVD9duN_liwA",
          "mode": "list",
          "cachedResultName": "LEAD SCRAPPING CONTROL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6adXtgcy7pgIQAF2sMn7GFcDbxvbzFjVD9duN_liwA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1U6adXtgcy7pgIQAF2sMn7GFcDbxvbzFjVD9duN_liwA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Correo": "={{ $json.email }}",
            "Web": "={{ $('Loop Over Items').item.json.websiteUri }}",
            "Estado": "Sin enviar"
          },
          "matchingColumns": ["Web"],
          "schema": [
            {
              "id": "Web",
              "displayName": "Web",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo Icebreaker",
              "displayName": "Correo Icebreaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2976, 1184],
      "id": "e6175e58-13c4-4eb5-8581-6597822347c2",
      "name": "Google Sheets2",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "i8uAjlC8WiPjtIsA",
          "name": "Google Sheets divisual@divisualproject.com"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Función para quitar tildes y limpiar texto\nconst normalize = (str) =>\n  str.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").toLowerCase().trim();\n\nconst originalText = $json.text || '';\nconst text = normalize(originalText);\n\n// Nuevos patrones: buscame, quiero, necesito, hay... [nicho] en [ciudad]\nconst regex = /\\b(?:busc(a|ame|qu?ame)|quiero|necesito|hay)\\s+(.*?)\\s+en\\s+(.+?)([.,\\s]|$)/i;\nconst match = text.match(regex);\n\nif (match && match[2] && match[3]) {\n  const niche = match[2].trim();\n  const city = match[3].trim();\n  return [\n    {\n      json: {\n        niche,\n        city,\n        original: originalText\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        error: \"No se pudo extraer el nicho y la ciudad.\",\n        original: originalText\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 832],
      "id": "921b5d9d-393e-41b8-ba55-9956f3840a9e",
      "name": "Diferenciar nicho de ciudad"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42862ea8-a8c9-4f54-9dbd-898e9f4fe8a9",
              "name": "text",
              "value": "={{ $json.chatInput || $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 832],
      "id": "b405cd87-7c64-403a-8bc4-69d296f827a7",
      "name": "Mapeo de texto"
    },
    {
      "parameters": {
        "url": "={{ $json.websiteUri }}",
        "options": {
          "redirect": {
            "redirect": { "maxRedirects": 3 }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1888, 1056],
      "id": "a12d13a2-0912-4b9a-9a45-4b2e55fbee43",
      "name": "Scrapeo de páginas",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const input = ($input.first().json.data || '').toString();\n\nconst regex = /\\b[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}\\b/gi;\nconst matches = input.match(regex) || [];\n\nconst filtrosBloqueo = [\n  'info', 'contact', 'admin', 'support', 'noreply', 'no-reply',\n  'ventas', 'marketing', 'hello', 'service', 'help', 'mail',\n  'email', 'contacto', 'reservas', 'hola', 'webmaster', 'root',\n  'postmaster', 'hostmaster', 'abuse', 'newsletter', 'suscribe'\n];\n\nconst dominiosBloqueo = [\n  'example.com', 'test.com', 'domain.com', 'email.com',\n  'sentry.io', 'wixpress.com', 'mailchimp.com', 'sendgrid.net'\n];\n\nconst extensionesBloqueo = ['.jpg', '.png', '.gif', '.webp', '.svg', '.css', '.js'];\n\nconst emails = matches.filter(email => {\n  const lower = email.toLowerCase();\n  const user = lower.split('@')[0];\n  const domain = lower.split('@')[1];\n  if (filtrosBloqueo.some(b => user.includes(b))) return false;\n  if (dominiosBloqueo.some(d => domain.includes(d))) return false;\n  if (extensionesBloqueo.some(ext => lower.includes(ext))) return false;\n  if (/[._-]{2,}/.test(user)) return false;\n  return true;\n});\n\nconst uniqueEmails = [...new Set(emails)];\n\nif (uniqueEmails.length === 0) {\n  return [{ json: { email: '' } }];\n}\n\nreturn uniqueEmails.map(email => ({ json: { email: email.toLowerCase() } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2304, 1056],
      "id": "d69c8478-5ec1-422b-8f81-dfee80170140",
      "name": "Extraer emails",
      "alwaysOutputData": true
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [2720, 1040],
      "id": "93d9b9e2-b69c-4ef2-8279-bafd28ad3b0f",
      "name": "Borrar duplicados1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Goog-Api-Key",
              "value": "AIzaSyCJDtDB9iyqJC_dHIDT63c_8fAodZ3Az4o"
            },
            {
              "name": "X-Goog-FieldMask",
              "value": "places.websiteUri"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"textQuery\": \"{{ $('Diferenciar nicho de ciudad').item.json.niche }} en {{ $('Diferenciar nicho de ciudad').item.json.city }}\"\n}",
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": { "maxRedirects": 2 }
          },
          "response": {
            "response": { "fullResponse": true }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 832],
      "id": "2d91f987-30e9-4576-898c-e52d6dbe4d79",
      "name": "Scrapeo Google Maps1",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.places",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [336, 1040],
      "id": "8fb10407-7c46-493a-bae0-62271c8a4fb5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const original = item.json.websiteUri || '';\n  const cleaned = original.replace(/^https?:\\/\\/(www\\.)?/i, 'https://');\n  return {\n    json: {\n      ...item.json,\n      websiteUri: cleaned\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 1056],
      "id": "bd8e3e2d-c5cb-4771-b14c-b9528353cb52",
      "name": "Limpiamos web"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "671ac39a-b1fe-40ae-b7cb-8e0cdbdceea7",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "valid-email-format",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2496, 1056],
      "id": "2b3da657-112f-42f6-af79-765032d98e65",
      "name": "If"
    },
    {
      "parameters": { "amount": 1 },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1696, 1056],
      "id": "321c286b-8c71-43ce-8979-345c29a8d23a",
      "name": "Wait1",
      "webhookId": "bb348ef4-dc0a-4377-9661-a64ca995804c"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "websiteUri",
        "options": {}
      },
      "id": "dedup-urls",
      "name": "Deduplicar URLs",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [1456, 1056]
    }
  ],
  "connections": {
    "Filter": {
      "main": [[{ "node": "Limpiamos web", "type": "main", "index": 0 }]]
    },
    "Loop Over Items": {
      "main": [
        [],
        [{ "node": "Filter", "type": "main", "index": 0 }]
      ]
    },
    "Wait": {
      "main": [[{ "node": "Extraer emails", "type": "main", "index": 0 }]]
    },
    "Construir URL": {
      "main": [[{ "node": "Scrapeo Google Maps1", "type": "main", "index": 0 }]]
    },
    "Schedule Trigger": {
      "main": [[{ "node": "OpenAI", "type": "main", "index": 0 }]]
    },
    "OpenAI": {
      "main": [[{ "node": "Mapeo de texto", "type": "main", "index": 0 }]]
    },
    "Google Sheets2": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "Diferenciar nicho de ciudad": {
      "main": [[{ "node": "Construir URL", "type": "main", "index": 0 }]]
    },
    "Mapeo de texto": {
      "main": [[{ "node": "Diferenciar nicho de ciudad", "type": "main", "index": 0 }]]
    },
    "Scrapeo de páginas": {
      "main": [[{ "node": "Wait", "type": "main", "index": 0 }]]
    },
    "Extraer emails": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "Borrar duplicados1": {
      "main": [[{ "node": "Google Sheets2", "type": "main", "index": 0 }]]
    },
    "Scrapeo Google Maps1": {
      "main": [[{ "node": "Split Out", "type": "main", "index": 0 }]]
    },
    "Split Out": {
      "main": [[{ "node": "Loop Over Items", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [
        [{ "node": "Borrar duplicados1", "type": "main", "index": 0 }],
        [{ "node": "Loop Over Items", "type": "main", "index": 0 }]
      ]
    },
    "Wait1": {
      "main": [[{ "node": "Scrapeo de páginas", "type": "main", "index": 0 }]]
    },
    "Limpiamos web": {
      "main": [[{ "node": "Deduplicar URLs", "type": "main", "index": 0 }]]
    },
    "Deduplicar URLs": {
      "main": [[{ "node": "Wait1", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
